*, *::before, *::after{
    box-sizing: border-box;
}
.formcont{
    width: 90%;
    margin: auto;
    padding: 30px;
    display: block;
    
}

.page-header h1{
    font-size: 50pt;
    color:rgb(253, 166, 242);
}

#login{
    background-color: rgb(147, 255, 219);
}

#signup{
    background-color: rgb(94, 176, 182);
}